/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
/* * {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 20px;
  max-width: 1148px;
}

.gallery-item {
  max-width: 360px;
  flex-basis: calc(33.333% - 10px);
} */
