/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
/* @import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css'); */

/* Sections style */
/* @import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .container {
  max-width: 1148px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 20px;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 20px;
  max-width: 1148px;
}

.gallery-item {
  max-width: 360px;
  flex-basis: calc(33.333% - 10px);
}

.feedback-form {
  max-width: 408px;
  max-height: 296px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}

.label-form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  height: 40px;
}

.label-form-textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  height: 80px;
}

.label-form:last-of-type {
  margin-bottom: 16px;
}
.button-form {
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
}
